@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.navbar {
  position: fixed; /* Sticky berubah menjadi fixed */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  transition: backdrop-filter 0.3s ease-in-out;

  &.scrolled {
    background-color: v.$primary;
  }

  .logo {
    height: 40px;
  }

  .nav-links {
    display: flex;
    gap: 20px;

    @include m.respond-to(sm) {
      display: none;
    }
  }

  a {
    color: v.$light;
    text-decoration: none;
    font-weight: bold;
    // mix-blend-mode: difference;
    &:hover {
      // text-decoration: underline;
      color: v.$dark;
    }
  }

  .right {
    display: flex;
    gap: 2rem;

    .extra-actions {
      display: flex;
      align-items: center;
      gap: 15px;

      .language-selector {
        background-color: transparent;
        color: v.$light;
        padding: 5px 10px;
        font-size: 14px;
        border: none;
      }

      @include m.respond-to(sm) {
        display: none;
      }
    }

    .login-btn {
      background-color: #2d30e5;
      color: white;
      padding: 8px 12px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      font-weight: bold;
      filter: drop-shadow(0 0 0.2rem rgb(98, 142, 219));
      &:hover {
        background-color: v.$primary;
      }
    }
  }
}
