@import "../abstracts/variables";
@import "../abstracts/mixins";

.navbar {
  position: fixed; /* Sticky berubah menjadi fixed */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  transition: backdrop-filter 0.3s ease-in-out;

  &.scrolled {
    backdrop-filter: blur(8px); /* Apply blur effect when scrolled */
  }

  .logo img {
    height: 40px;
  }

  .nav-links {
    display: flex;
    gap: 20px;

    @include respond-to(sm) {
      display: none;
    }
  }

  a {
    color: $light;
    text-decoration: none;
    font-weight: bold;
    mix-blend-mode: difference;
    &:hover {
      text-decoration: underline;
      color: $primary;
    }
  }

  .right {
    display: flex;
    gap: 2rem;

    .extra-actions {
      display: flex;
      align-items: center;
      gap: 15px;

      .language-selector {
        background-color: transparent;
        color: $light;
        padding: 5px 10px;
        font-size: 14px;
        border: none;
      }

      @include respond-to(sm) {
        display: none;
      }
    }

    .login-btn {
      background-color: #007bff;
      color: white;
      padding: 8px 12px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      font-weight: bold;
      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
