@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.about-wrap {
  position: relative;
  height: 100vh;
  background: url("../../public/image/About Us.jpg") no-repeat center center /
    cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8rem;
  color: white;
  overflow: hidden;

  @include m.respond-to(xl) {
    padding: 4rem;
  }

  @include m.respond-to(lg) {
    width: 100%;
    padding: 4rem;
  }

  @include m.respond-to(md) {
    width: 100%;
    padding: 3rem;
  }

  @include m.respond-to(sm) {
    width: 100%;
    padding: 3rem;
  }

  .about-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .about-content {
    position: relative;
    z-index: 2;
    max-width: 1000px;

    @include m.respond-to(lg) {
      display: flex;
      flex-direction: column;
    }

    @include m.respond-to(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @include m.respond-to(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin-bottom: 1rem;
      line-height: 1.2;
      text-transform: capitalize;
      @include m.respond-to(lg) {
        font-size: 2rem;
      }
      @include m.respond-to(md) {
        font-size: 1.75rem;
      }
      @include m.respond-to(sm) {
        font-size: 1.5rem;
      }
    }
    p {
      font-size: 1.75rem;
      font-style: italic;

      @include m.respond-to(md) {
        font-size: 1rem;
      }

      @include m.respond-to(sm) {
        font-size: 0.75rem;
      }
    }
  }

  .arrow {
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    animation: bounceUpDown 2s infinite ease-in-out;
  }

  @keyframes bounceUpDown {
    0%,
    100% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(-10px);
    }
  }
}

.about-about-us {
  color: white;
  position: relative;
  padding: 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include m.respond-to(md) {
    margin-bottom: 0;
  }
  @include m.respond-to(sm) {
    padding: 3rem;
  }

  .about-header {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: 0 auto 3rem;
    .title-wrap {
      margin-bottom: 5rem;
      @include m.respond-to(md) {
        margin-bottom: 0;
      }
      @include m.respond-to(sm) {
        margin-bottom: 0;
      }
    }

    .about-subtitle {
      color: #2563eb;
      font-weight: 600;
      display: block;
      margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 2rem;
      font-weight: 700;
      color: #1f2937;
    }

    p {
      color: #4b5563;
      font-size: 1rem;
    }
  }

  .about-us-image {
    img {
      width: 80%;

      @include m.respond-to(md) {
        width: 100%;
      }

      @include m.respond-to(sm) {
        width: 100%;
      }
    }
  }
}

.about-story {
  padding: 6rem;
  font-size: 1.25rem;
  text-align: justify;

  @include m.respond-to(xxs) {
    padding: 3rem;
    font-size: 1rem;
    text-align: left;
  }
}

.vision-section {
  padding: 1rem 6rem;
  position: relative;
  height: 90vh;

  @include m.respond-to(md) {
    justify-content: center;
    align-items: center;
  }

  @include m.respond-to(sm) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }

  .vision-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    position: relative;

    .vision-text-wrap {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      .vision-text {
        flex: 1;
        max-width: 600px;

        @include m.respond-to(sm) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        h2 {
          color: #2563eb;
          font-size: 1.8rem;
          font-weight: 700;
          margin-bottom: 1rem;
        }

        p {
          color: #111827;
          margin-bottom: 1.5rem;
          line-height: 1.6;
          font-size: 1.25rem;
        }

        .vision-list {
          list-style: none;
          padding: 0;

          li {
            margin-bottom: 1rem;
            position: relative;
            padding-left: 1.2rem;
            font-size: 1.25rem;
            color: #111827;

            &::before {
              content: "❯";
              position: absolute;
              left: 0;
              color: #2563eb;
            }
          }
        }
      }
    }

    .vision-images {
      display: flex;
      align-items: center;
      gap: 1rem;
      position: absolute;
      right: -10%;
      top: 10%;

      @include m.respond-to(lg) {
        display: none;
      }

      @include m.respond-to(md) {
        display: none;
      }

      @include m.respond-to(sm) {
        display: none;
      }

      .main-image {
        width: 300px;
        img {
          width: 100%;
          object-fit: cover;
          border-radius: 0.5rem;
        }
      }

      .side-images {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        img {
          width: 250px;
          object-fit: cover;
          border-radius: 0.5rem;
        }
      }
    }
  }
}
