@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.hero {
  position: relative;
  height: 100vh;
  background: url("../../public/image//Home.jpg") no-repeat center center /
    cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8rem;
  color: white;
  overflow: hidden;

  @include m.respond-to(xl) {
    padding: 4rem;
  }

  @include m.respond-to(lg) {
    width: 100%;
    padding: 4rem;
  }

  @include m.respond-to(md) {
    width: 100%;
    padding: 3rem;
  }

  @include m.respond-to(sm) {
    width: 100%;
    padding: 3rem;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6); // efek gelap seperti di gambar
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2;
    max-width: 1000px;

    @include m.respond-to(lg) {
      display: flex;
      flex-direction: column;
    }

    @include m.respond-to(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @include m.respond-to(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin-bottom: 1rem;
      text-transform: capitalize;

      @include m.respond-to(md) {
        font-size: 2.5rem;
      }

      @include m.respond-to(sm) {
        font-size: 1.5rem;
      }
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      color: #e5e5e5;
      font-style: italic;
      @include m.respond-to(md) {
        font-size: 1rem;
      }

      @include m.respond-to(sm) {
        font-size: 0.75rem;
      }
    }

    .ctaButton {
      background-color: #2d30e5;
      color: white;
      border: none;
      padding: 0.75rem 1.5rem;
      border-radius: 0.5rem;
      font-weight: 600;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.3s ease;
      filter: drop-shadow(0 0 0.2rem rgb(98, 142, 219));

      @include m.respond-to(sm) {
        padding: 0.5rem 1rem;
        border-radius: 0;
        font-size: 0.75rem;
      }

      &:hover {
        background-color: #1e40af;
      }
    }
  }

  .arrow {
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    animation: bounceUpDown 2s infinite ease-in-out;
  }

  @keyframes bounceUpDown {
    0%,
    100% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(-10px);
    }
  }
}
