@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.hero {
  position: relative;
  height: 100vh;
  background: url("../../public/image//Home.jpg") no-repeat center center /
    cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8rem;
  color: white;
  overflow: hidden;

  @include m.respond-to(lg) {
    width: 100%;
    padding: 3rem;
  }

  @include m.respond-to(md) {
    width: 100%;
    padding: 3rem;
  }

  @include m.respond-to(sm) {
    width: 100%;
    padding: 3rem;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6); // efek gelap seperti di gambar
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2;
    max-width: 1000px;

    @include m.respond-to(lg) {
      display: flex;
      flex-direction: column;
    }

    @include m.respond-to(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @include m.respond-to(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin-bottom: 1rem;
      text-transform: capitalize;

      @include m.respond-to(md) {
        font-size: 2.5rem;
      }

      @include m.respond-to(sm) {
        font-size: 1.5rem;
      }
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      color: #e5e5e5;
      font-style: italic;
      @include m.respond-to(md) {
        font-size: 1rem;
      }

      @include m.respond-to(sm) {
        font-size: 0.75rem;
      }
    }

    .ctaButton {
      background-color: #2d30e5;
      color: white;
      border: none;
      padding: 0.75rem 1.5rem;
      border-radius: 0.5rem;
      font-weight: 600;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.3s ease;
      filter: drop-shadow(0 0 0.2rem rgb(98, 142, 219));

      @include m.respond-to(sm) {
        padding: 0.5rem 1rem;
        border-radius: 0;
        font-size: 0.75rem;
      }

      &:hover {
        background-color: #1e40af;
      }
    }
  }
}

.partner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  background-color: #f0f8ff;
  text-align: center;

  h3 {
    font-size: 2.75rem;
    font-weight: 600;
    line-height: 0;
    margin-bottom: 5rem;
    padding: 2rem 3rem;

    @include m.respond-to(md) {
      font-size: 2rem;
    }

    @include m.respond-to(sm) {
      font-size: 1.5rem;
    }
  }

  .marquee-wrap {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin-bottom: 5rem;

    .marquee {
      overflow: hidden;
      white-space: nowrap;
      position: relative;

      .marquee-content {
        display: flex;
        gap: 4rem;
        animation: scroll 15s linear infinite;
        width: max-content;

        .partner-logo {
          max-height: 100px;
          max-width: 200px;
          object-fit: contain;
          flex-shrink: 0;

          @include m.respond-to(sm) {
            height: 25px;
          }
        }
      }
    }

    .marquee-2 {
      overflow: hidden;
      white-space: nowrap;
      position: relative;

      .marquee-content {
        display: flex;
        gap: 4rem;
        animation: scroll2 15s linear infinite;
        width: max-content;

        .partner-logo {
          max-height: 100px;
          max-width: 200px;
          object-fit: contain;
          flex-shrink: 0;

          @include m.respond-to(sm) {
            height: 25px;
          }
        }
      }
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes scroll2 {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

.about {
  position: relative;
  background: url("/image/Home.jpg") no-repeat center center/cover;
  color: white;
  overflow: hidden;

  .about-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 76, 153, 0.8);
    z-index: 1;
  }

  .about-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // max-width: 1200px;
    margin: 0 auto;
    padding: 6rem;
    position: relative;
    z-index: 2;
    flex-wrap: wrap;
    gap: 2rem;

    @include m.respond-to(lg) {
      max-width: 900px;
      padding: 3rem;
    }

    @include m.respond-to(md) {
      padding: 2rem 4rem;
    }

    @include m.respond-to(sm) {
      padding: 2rem 1rem;
    }
  }

  .about-text {
    flex: 1;
    max-width: 600px;
    padding: 1rem;

    .about-subtitle {
      font-size: 1rem;
      color: #ffffffcc;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      margin: 1rem 0;
      @include m.respond-to(sm) {
        font-size: 1.45rem;
      }
    }

    p {
      margin-bottom: 1rem;
      font-size: 1rem;
      line-height: 1.6;
      @include m.respond-to(sm) {
        font-size: 0.75rem;
      }
    }

    .about-button {
      background-color: #2d30e5;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      cursor: pointer;
      filter: drop-shadow(0 0 0.2rem rgb(98, 142, 219));

      &:hover {
        background-color: #2d30e5;
        color: white;
      }
    }
  }

  .about-image {
    position: absolute;
    left: 50%;
    width: 50%;
    top: 0;

    img {
      height: auto;
      width: 100%;
      object-fit: contain;
      @include m.respond-to(lg) {
        display: none;
      }
      @include m.respond-to(md) {
        display: none;
      }
      @include m.respond-to(sm) {
        display: none;
      }
    }
  }
}

.industries-section {
  background: url("/image/Home.jpg") no-repeat center center/cover;
  color: white;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;

  @include m.respond-to(md) {
    padding: 2rem;
  }

  @include m.respond-to(sm) {
    padding: 2rem 3rem;
    gap: 5rem;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, #ffffff, #2f84d9);
    opacity: 0.95;
    z-index: 0;
  }
}
