// MEDIA QUERY
@mixin respond-to($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: 375px) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == xxl {
    @media (max-width: 1400px) {
      @content;
    }
  } @else if $breakpoint == xxxl {
    @media (min-width: 1401px) {
      @content;
    }
  } @else if $breakpoint == xxxxl {
    @media (min-width: 2560px) {
      @content;
    }
  }
}

// CENTER ELEMENT
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// TEXT TRUNCATE
@mixin text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
