@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.culture-grid {
  color: v.$primary;
  padding: 5rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .culture-grid-header {
    margin-bottom: 2rem;

    .culture-grid-subtitle {
      color: #2563eb;
      font-weight: 600;
      display: block;
      margin-bottom: 0.5rem;
    }
  }

  .culture-grid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .culture-grid-row {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
    width: 100%;

    &.centered-row {
      justify-content: center;
    }
  }

  .culture-grid-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    max-width: 400px;
    width: 100%;
    flex: 1 1 calc(25% - 2.25rem);

    @include m.respond-to(md) {
      flex: 1 1 calc(50% - 1.5rem);
    }

    @include m.respond-to(sm) {
      flex: 1 1 100%;
    }
  }

  .culture-our-grid-section-item {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: v.$primary;
    color: white;
    transition: transform 0.3s ease;

    .inside-text {
      z-index: 1;
      font-size: 4rem;
      font-weight: bold;
    }
  }

  .culture-grid-item-text {
    margin-top: 1rem;

    h3 {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
      color: v.$primary;
    }
  }
}
