@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;
@use "./abstracts/functions" as *;

@use "layout/header" as *;
@use "layout/footer" as *;
@use "pages/hero" as *;
@use "pages/about" as *;
@use "pages/solution" as *;
@use "pages/industries" as *;
@use "pages/service" as *;
@use "pages/login" as *;
@use "pages/partner" as *;
@use "pages/studies" as *;
@use "pages/contact" as *;
@use "pages/404" as *;
@use "pages/slug" as *;
@use "components/contact" as *;
@use "components/popup" as *;
@use "components/grid" as *;
@use "components/culture" as *;

// Global styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: $light;
  color: $dark;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
