@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./abstracts/functions";

@import "layout/header";
@import "layout/footer";
@import "pages/hero";
@import "pages/about";
@import "pages/service";
@import "pages/partner";
@import "pages/studies";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: $light;
  color: $dark;
}

// main {
//   height: 100vh;
// }
